@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$blue: #1e90ff;
$red: #eb5252;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* universal */
html {
  overflow-y: scroll;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #454545;
  background-color: #ccc;
}
section {
  overflow: auto;
}
textarea {
  resize: none;;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* bootstrap customizations */
.container {
  width: 100%;
}
/* typography */
h1, h2, h3, h4, h5, h6,
input, textarea, button, p, div {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}
p {
  font-size: 1.1em;
}
/* header */
nav {
  background-color: $blue;
  box-shadow: 0 2px 6px rgba(0,0,0,0.02), 0 2px 6px rgba(0,0,0,0.04);
  border-bottom: 1px solid rgba(0,0,0,0.06);
  display: flex;
  a {
    font-size: 1.1em;
    font-weight: 800;
    color: white;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: .02em;
    &:hover {
      color: white;
    }
  }
}
.nav-group {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex: 3;
  padding: 0;
  margin: 0;
}
.nav-group.left {
  justify-content: flex-start;
  .dropdown {
    margin-left: 2em;
  }
}
.nav-group > li > a > .gravatar {
  border-radius: 50%;
  filter: grayscale(100%);
  &:hover {
    filter: none;
  }
}
.nav-list__list-item {
  margin: 0 1em;
}
.nav-list__list-item.logo {
  margin: 10px 0 5px 0;
  text-align: center;
  flex: 1;
}
.nav-list__logo {
  width: 60px;
  fill: white;
  transition: all .2s ease-in-out;
  &:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
/* Categories index */
.categories {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;;
  text-align: center;
  position: relative;
  .category-container {
    background-color: white;
    border: 7px solid white;
    position: relative;
    padding: 30px 20px;
    border-radius: 2%;
    width: 275px;
    min-height: 250px;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-in-out;
    &:hover {
      cursor: pointer;
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
    a {
      cursor: pointer;
      text-decoration: none;
      -webkit-transition: none 86ms ease-out;
      transition: none 86ms ease-out;
      position: absolute;
      top: -30px;
      right: -20px;
    }
  }
}
.category-container.edit-mode:hover {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
}
.card {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  .title {
    border-bottom: 5px solid $blue;
  }
  .example {
    line-height: 1.3em;
  }
  .large-form-title {
    border-bottom: 10px solid $blue;
    margin-bottom: 2em;
    input {
      font-size: 3em;
      font-weight: 800;
      padding: 0.3em;
    }
  }
  .large-form-area {
    font-size: 1.3em;
    resize: none;
    padding: 0.5em;
    height: 110px;
  }
  .form-title {
    font-size: 24.5px;
    font-weight: 800;
  }
}
.form-buttons, .large-form-buttons {
  display: flex;
  justify-content: center;
}
.form-area {
  margin-bottom: 0;
}
.form-buttons {
  margin: 10px 0 -20px 0;
}
.form-buttons button {
  width: 120px;
  margin: 1em;
  padding: 10px 0;
}
.large-form-buttons {
  margin: 2em 0 0 0;
}
.large-form-buttons button {
  width: 140px;
}
#create_popup {
  transform: scale(0.8);
}
.popup_visible #create_popup {
  transform: scale(1);
}
/* OTHER SUTFF */
.content-header {
  text-align: center;
  margin: 3em 0 2em 0;
  h1 {
    margin-bottom: 50px;
  }
  button {
    margin: 0 auto;
  }
}
/* BUTTONS */
button {
  background: $blue;
  border: none;
  border-radius: 5px;
  box-shadow: 0 6px #0A60B2;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 35px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  font-weight: 800;
  outline: none;
  &:after {
  	content: '';
  	position: absolute;
  	z-index: -1;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }
}
.btn-cancel {
  background-color: #696969;
  box-shadow: 0 6px #333;
}
.btn-edit {
  background-color: #3cb371;
  box-shadow: 0 6px #339860;
}
.btn-remove {
  background-color: $red;
  box-shadow: 0 6px darken($red, 10%);
}
.btn-add {
// border-radius: 0 0 5px 5px;
//   &:hover {
//     box-shadow: 0 4px #0A60B2;
//     top: 2px;
//   }
//   &:active {
//     box-shadow: 0 0 #0A60B2;
//     top: 6px;
//   }
}
.delete {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #f08080;
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 20px;
  outline: none;
  position: relative;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  vertical-align: top;
  width: 20px;
  .is-medium {
    height: 26px;
    width: 26px;
  }
  &::before, &::after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  &:hover {
    background-color: darken(#f08080, 10%);
  }
}
.delete::before {
  height: 2px;
  width: 50%;
}
.delete::after {
  height: 50%;
  width: 2px;
}